@import url('https://fonts.cdnfonts.com/css/lemon-milk');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* Configurações Globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --sunset: #ffe498;
    --creme-dourado: #fbf0d1;
    --roxo-claro: #7B6396;
    --branco-creme: #FBFBF9;
    --texto-escuro: #333;
    --azul-peixe: rgb(71, 92, 255);
    --transicao: 0.3s ease; /* Adicionado para os efeitos funcionarem */
}

body {
    background-color: var(--creme-dourado);
    color: var(--texto-escuro);
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
}

h1, h2, h3 {
    font-family: 'Lemon Milk', sans-serif;
    color: #000;
}

/* --- Cabeçalho --- */
.cabecalho-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10%;
    background-color: var(--sunset);
}

.cabecalho-logo {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.cabecalho-logo__img {
    width: 3.5rem;
    height: auto;
}

.nav__lista {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav__link {
    color: var(--texto-escuro);
    text-decoration: none;
    font-weight: 500;
    transition: var(--transicao);
}

.nav__link:hover {
    color: var(--roxo-claro);
}

/* --- Estilização do Formulário de Cadastro --- */

.formulario {
    display: flex;
    flex-direction: column;
    padding: 2rem 10%;
    gap: 1.5rem;
}

.formulario__linha {
    display: grid;
    gap: 1rem;
}

.campo-input {
    flex: 1; /* Divide o espaço da linha igualmente */
    min-width: 250px; /* Largura mínima antes de quebrar para a linha de baixo */
    display: flex;
    flex-direction: column;
    gap: 0.5rem; /* Espaço entre o rótulo (label) e a caixa de texto */
}

label {
    font-weight: 700;
    font-size: 0.9rem;
    color: var(--texto-escuro);
}

input, textarea {
    padding: 0.8rem;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-family: inherit;
    background-color: #fff;
    transition: var(--transicao);
}

.botao {
    margin: auto;
    padding: 1rem 10%;
    justify-content: center;
    align-items: center;
}

button {
    margin: 0;
    padding: 0.5rem 5%;
    font-family: 'Montserrat', sans-serif;
}